@charset "utf-8";


body {}

/* layout */
#wrap {overflow: hidden;}
#header {
	overflow: hidden; position: relative; margin: 0; padding: 20px 0 15px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; 
	color: #ffffff; background: #444;
}
	a.pop_close {position: absolute; top: 23px; right: 15px; width: 20px; height: 19px; background: url('../images/popup/btn_delete.png') no-repeat 0 0;}
	a.pop_close span {display: block; position: absolute; top: -999999px; right: -999999px;}

#container {overflow: hidden;}
	.content_area {overflow: hidden;}
	    #content {overflow: hidden; padding: 40px 15px 50px;}




/* title */
.title_area {overflow: hidden; margin-bottom: 30px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
.title_area1 {overflow: hidden; margin-bottom: 15px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
h1.title {float: left; margin: 0 35px 0 0; padding-left: 37px; font-size: 18px; font-weight: bold; color: #ffffff; line-height: 1.4em; background: url('../images/popup/bullet_title_01.png') no-repeat 15px 6px;}
h2.title {padding-left: 25px; font-weight: bold; font-size: 16px; color: #4d4d4d; background: url('../images/common/bullet_title_01.png') no-repeat 5px 2px;}
h3.title {padding-left: 18px; font-weight: bold; font-size: 14px; color: #4d4d4d; background: url('../images/common/bullet_title_03.png') no-repeat 5px 4px;}


/* tab_area */
.tab_area {overflow: hidden; margin-bottom: 30px; background: url('../images/common/bg_tab_underline.png') repeat-x 0 bottom;}
	ul.tablist {font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
		ul.tablist li {display: block; float: left; list-style: none;}
		ul.tablist li a {display: block; height: 39px; padding: 0 20px; margin-bottom: 1px; border: 1px solid #dfdfdf; border-bottom: 0; font-weight: bold; font-size: 13px; color: #6e6e6e; line-height: 39px; letter-spacing: -0.02em; background-color: #f4f4f4;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			-webkit-border-top-left-radius: 8px;
			-webkit-border-top-right-radius: 8px;
			-moz-border-top-left-radius: 8px;
			-moz-border-top-right-radius: 8px;
			}
		ul.tablist li.on a {height: 38px; margin-bottom: 0px; border: 2px solid #0060af; border-bottom: 1px solid #ffffff; color: #3f3f3f; line-height: 39px; background-color: #ffffff;}
		ul.tablist li.on a:hover {text-decoration: none;}


/* table_search_area */
.table_search_area {overflow: hidden; margin-bottom: 8px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	.table_search_area.float_left {text-align: left;}
	.table_search_area.float_right {text-align: right;}



/*
 * content
 */
.text_area {overflow: hidden; padding: 26px 20px 25px; border-top: 3px double #dddddd; border-bottom: 3px double #dddddd; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; font-weight: normal; font-size: 14px; color: #333333; line-height: 1.5em;}


.dash_list_area {}
.dash_list_area > li { float: left; width: calc(50% - 10px); }
.dash_list_area > li:last-child { float: right; }


.date_liner > li { float: left; text-align: center; width: 32px; border-right: 1px solid #ddd; padding: 5px 0px; }
.date_liner > li:last-child { border-right: none; }

.date_liner02 > li { float: left; text-align: center; width: 80px; border-right: 1px solid #ddd; padding: 5px 0px; }
.date_liner02 > li:last-child { border-right: none; }


.wgraph { position: absolute; left: 0px; top: 0px; height: 10px;  }
.wgraph_type01 { background: #5b9bd5; top: 2px; }
.wgraph_type02 { background: #a9d18e; top: 17px;  }
.wgraph_type03 { background: #c55a11; top: 32px; }
.wgraph_type04 { background: #c5bf11; top: 47px; }
.wgraph_type05 { background: #7f7f7f; top: 62px; }

